plotly
streamlit
pandas
numpy
scikit-learn
firebase-admin
textblob
python-dateutil
matplotlib
scikit-learn
xgboost
streamlit==1.26.0
bcrypt==4.1.0
firebase-admin==6.2.0
streamlit-recaptcha==0.1.6
google-auth==2.21.0
google-auth-oauthlib==1.0.0
